{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sneakers Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <ul>
          <li><a href="/" class="center brand-logo">&nbsp;&nbsp;SneakersCollector</a></li>
        </ul>
        <ul>
          <li class="right"><a href="/about">About</a></li>
          <li><a href="{% url 'conditions_create' %}">Add a Condition</a></li>
          <li><a href="{% url 'conditions_index' %}">View All Conditions</a></li>
          <li class="right"><a href="{% url 'sneakers_create' %}">Add a Sneaker</a></li>
          <li class="right"><a href="/sneakers">View All My Sneakers</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer black">
    <div class="right">All Rights Reserved, &copy; 2022 Sneakers Collector &nbsp;</div>
  </footer>
</body>
</html>